*
!.gitignore
!.gitattributes
!adguard_user_filter.txt
!alleblock-revised-archive-adguard.txt
!alleblock-revised-current-adguard.txt
!google_news_annoyances.txt
!meta-x.txt
!voe.txt
!youtube-tweaks-adguard.txt
!LICENSE.txt
!README.md